name: "Build"

on:
  schedule:
    - cron: "30 04 * * 0" # 04:30 UTC every Sunday
  workflow_dispatch:

jobs:
  bluebuild:
    name: Build Custom Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        recipe:
          # - images/hyprland/41/hyprland--41.yml
          - images/aurora/41/aurora--41.yml
          - images/bluefin/41/bluefin--41.yml
          - images/plasma/41/plasma--41.yml
          - images/gnome/41/gnome--41.yml
          - images/xfce/41/xfce--41.yml

    steps:
      - name: Build Custom Image
        uses: blue-build/github-action@v1.8
        with:
          recipe: ${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
          registry_token: ${{ github.token }}
          pr_event_number: ${{ github.event.number }}
          rechunk: true
